* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* Utils */

.container {
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
}

.d-flex {
    display: flex;
}

.white-txt {
    color: #fff;
}

ul, ol {
    list-style: none;
}

/* Header */

header {
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 999;
    background-color: #FE6900;
    border-bottom: 2px solid gray;
}

header .container {
    height: 100%;
    align-items: center;
}

header img {
    max-width: 100px;
}

header ul li {
    padding: 0 5px;
}

/* Main */

main {
    padding-top: 75px;
}

/* Cards */

div.card {
    width: 32%;
    margin-top: 40px;
    position: relative;
}

div.card img {
    width: 100%;
    max-width: 100%;
}

.hover-img {
    display: block;
}

.start-img {
    position: absolute;
    top: 0;
}

.card:hover .start-img {
    display:none
}

.bottom-row-img {
    bottom: 0;
}

.top-row-img {
    
}

/* Label */

div.label {
    position: absolute;
    z-index: 2;
    bottom: 100px;
    padding: 5px 10px;
    background-color: red;
}

.label.green {
    background-color: green;
    left: 60px;
}

.label.green-no-sale {
    background-color: green;
    left: 0;
}

/* Captions */

.caption {
   ;
}

span strong {
    color: red;
}

span span {
    text-decoration:line-through
}

/* Footer */

footer {
    height: 100px;
    background-color: #1A1A1A;
    margin-top: 40px;
    justify-content: space-between;
}

footer .container {
    height: 100px;
    align-content: center;
}

.white-txt li {
    font-size: 0.9rem;
    padding-right: 10px;
    padding-top: 10px;
}

.social li {
    font-size: 1.2rem;
}
