* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug {
    border: 1px solid black;
}

/* Utils */

.container {
    margin: 0 auto;
    width: 100%;
}

.d-flex {
    display: flex;
}

.white-txt {
    color: #fff;
}

/* Header */

header {
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 999;
    background-color: #FE6900;
    border-bottom: 2px solid gray;
}

header .container {
    max-width: 1000px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 100px;
}

/* Main */

main {
    padding-top: 75px;
}

main div.container {
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 1000px;                  /*debug*/
    background-color: red;        /*debug*/
}

div.card {
    max-width: 300px;
    position: relative;
}

div.card img {
    display: inline-block;
    max-width: 300px;
}

.start-img {
    position: absolute;
    top: 0;
    z-index: 2;
}

.hover-img {
    position: absolute;
    top: 0;
    z-index: 1;
}

